<div class="jumbo">
	<div class="right tomster">
		
	</div>
	<h2>As Roma Roster</h2>
	<p>
		Associazione Sportiva Roma, commonly referred to as simply Roma, is a professional Italian football club based in Rome. Founded by a merger in 1927, Roma have participated in the top-tier of Italian football for all of their existence except for 1951–52.
	</p>
	{{#link-to "contact" class="button"}}
	Contact Us
	{{/link-to}}
</div>